---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Course Description</h2>
    <p>{{ site.course_description }}</p>
    <p>{{ site.message }}</p>

    Please see the course syllabus <a href="static_files/pm_syllabus.pdf">here</a>.

    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    
    {% for offer in site.data.previous_offering.offerings %}
    
    {% endfor %}
  
    {% endif %}

    <br>
    <div>
    
            </div>
        </div>
    </div>
</div>