<ul class="menu">
    <li><a class="page-link" href="{{ "/" | prepend: site.baseurl }}"><i class="fa fa-home fa-lg"></i> Home</a></li>
    <li><a class="page-link" href="{{ "/schedule/" | prepend: site.baseurl }}"><i class="fas fa-calendar-alt"></i> Schedule</a></li>
    <li><a class="page-link" href="{{ "/lectures/" | prepend: site.baseurl }}"><i class="fas fa-book-reader"></i> Lectures</a></li>
    <li><a class="page-link" href="{{ "/Software-Tutorials/" | prepend: site.baseurl }}"><i class="fas fa-desktop"></i> Software Tutorials</a></li>
    <li><a class="page-link" href="{{ "/assignments/" | prepend: site.baseurl }}"><i class="fas fa-book"></i> Assignments</a></li>
    <li><a class="page-link" href="{{ "/Final-exam/" | prepend: site.baseurl }}"><i class="fas fa-graduation-cap"></i> Final Exam</a></li>
    <li><a class="page-link" href="{{ "/course-materials/" | prepend: site.baseurl }}"><i class="fas fa-files-o"></i> Course Materials</a></li>
    <li><a class="page-link" href="{{ "/Course-Feedback/" | prepend: site.baseurl }}"><i class="fas fa-star-half-o"></i> Course Evaluation</a></li>
</ul>